<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHZ7Xxsq6Y4A5mD6epW2q9bNn0vC8v04M</string>
	<key>GCM_SENDER_ID</key>
	<string>225502020729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yt.imageCompression</string>
	<key>PROJECT_ID</key>
	<string>imagecompressiontutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>imagecompressiontutorial.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225502020729:ios:56a5f45f78cef718ec00a8</string>
</dict>
</plist>